@charset "UTF-8";
* {
  margin: 5px;
  padding: 0;
  box-sizing: border-box; }

* {
  font-family: 'Raleway', sans-serif; }

.colorHeader {
  height: 12vh;
  margin: 0 80px 0 80px;
  background-color: #c18189;
  position: sticky;
  top: 15px;
  z-index: 0;
  display: flex;
  margin-bottom: 40px; }

.contenedorLogo1 {
  position: relative;
  top: 22px;
  left: 700px; }

.Logo {
  width: 10vh;
  height: 10vh;
  display: inline-block;
  margin: auto; }

.contenedorLogo1 li {
  list-style: none; }

/*tamaño y letra de la estetica del menú páginas*/
.linkNav {
  text-decoration: none;
  color: #070707;
  font-size: 20px;
  margin: 10px 20px;
  margin-top: 30px 30px∫;
  bottom: 10px;
  display: inline-block; }

.whatssApp {
  position: fixed;
  bottom: 20px;
  right: 90px;
  font-size: 30px; }

.contenedorPostres {
  background-color: #e9a1aaaf;
  width: 90%;
  margin: auto; }

.papaPastel {
  width: 30%;
  height: 500px;
  margin: 20px;
  display: inline-block;
  border-radius: 132px; }

.pastelitos {
  width: 100%;
  height: 90%;
  border-radius: 10px 10px;
  object-fit: cover; }

.papaPastel h2 {
  text-align: center; }

.papaPastel p {
  text-align: center; }

.titulo h1 {
  text-align: center;
  font-size: 30px; }

.titulo h2 {
  text-align: center;
  font-size: 32px; }

.frase {
  text-align: center;
  padding-top: 40px;
  font-size: 18px; }

.tituloAmbiente {
  text-align: center;
  margin-top: 40px;
  font-family: inherit; }

.contenedorAmbiente {
  background-color: #e9a1aaaf;
  text-align: center;
  width: 90%;
  margin: 0 auto; }

.contenedorAmbiente div {
  width: 500px;
  height: 401px;
  margin: 50px;
  display: contents;
  border-radius: 10px; }

.contenedorAmbiente img {
  width: 500px;
  height: 100%;
  border-radius: 50px 50px;
  object-fit: cover; }

.contenedorAmbiente p {
  text-align: justify;
  padding: 5px 25px 10px 25px;
  font-family: fantasy;
  width: 100%; }

.armaTuPedido {
  width: 90%;
  height: 1200px;
  margin: 0 0 0 92px;
  background-color: #e9a1aaaf;
  display: inline-block;
  gap: 10px; }
  .armaTuPedido img {
    width: 35%;
    height: 48%;
    border-radius: 15%;
    margin: 12px 100px 10px 130px; }

.video {
  width: 100%; }

.video2 {
  margin-left: 600px; }
  .video2 h2 {
    margin-top: 20px;
    margin-left: 95px; }

.mapa {
  width: 80%; }

.contenedorTituloMapaInicio {
  text-align: center;
  margin: 30px 0 20px 360px;
  font-weight: bold; }

.contenedorMapaInicio iframe {
  margin-left: 160px;
  object-fit: cover;
  width: 100%; }

.colorFondoRedes {
  background-color: #c18189;
  margin: 0 80px 0 80px;
  display: flex; }

.logoFooter {
  position: absolute;
  padding-left: 150px;
  width: 22%;
  height: 20%; }

.colorMensa {
  color: white;
  padding: 120px 0 0 20px; }

.ubiHorarios {
  text-align: center;
  color: white;
  padding: 35px 0 0 210px;
  font-size: 20px; }

.ubiRedes {
  display: flex;
  padding: 70px 0 0 510px; }

.ubiRedes a {
  color: white;
  font-size: 25px; }

.tituloProductos {
  text-align: center;
  font-size: 1.5rem;
  padding: 40px;
  width: 50%;
  margin: 0 auto;
  background-color: rgba(255, 163, 163, 0.545);
  margin-bottom: 50px; }

.tituloProductos h1 {
  font-size: 60px;
  margin-bottom: 25px; }

.tituloProductos p {
  color: gray; }

.contenedorPostres {
  background-color: #e9a1aaaf;
  width: 90%;
  margin: auto; }

.frase {
  text-align: center;
  padding-top: 40px;
  font-size: 18px; }

.papaPastel {
  width: 30%;
  height: 500px;
  margin: 20px;
  display: inline-block;
  border-radius: 132px; }

.pastelitos {
  width: 100%;
  height: 90%;
  border-radius: 10px 10px;
  object-fit: cover; }

.papaPastel h2 {
  text-align: center; }

.papaPastel p {
  text-align: center; }

.contenedorArmaTuPostre {
  text-align: center;
  font-size: 1.5rem;
  padding: 30px;
  width: 50%;
  margin: 0 auto;
  background-color: rgba(255, 163, 163, 0.545);
  margin-bottom: auto;
  margin-top: 50px; }

.contenedorImagenesArmaTuPostre {
  width: 45%;
  margin: 0 auto; }

.contenedorImagenesArmaTuPostre div {
  height: 500px;
  margin: 40px;
  display: inline-block;
  border-radius: 10px; }

.contenedorImagenesArmaTuPostre img {
  width: 100%;
  height: 90%;
  border-radius: 20px 20px;
  object-fit: cover; }

.contenedorVideo {
  width: 100%; }

.contenedorVideo2 h2 {
  text-align: center; }

.contenedorVideo2 iframe {
  margin-left: 600px; }

.tituloEspeciales {
  text-align: center;
  font-size: 1.5rem;
  padding: 40px;
  width: 50%;
  margin: 0 auto;
  background-color: rgba(255, 163, 163, 0.545);
  margin-bottom: 50px; }

.tituloEspeciales h1 {
  font-size: 60px;
  margin-bottom: 25px; }

.tituloEspeciales p {
  color: black; }

.papaContenedorEspecial {
  width: 100%; }

.contenedorEspecial1 {
  font-size: 1.5rem;
  padding: 40px;
  background-color: #e216161f;
  display: flex;
  margin: 29px 78px 43px 71px;
  border-radius: 20px 20px; }

.contenedorEspecial1 h2 {
  font-size: 60px;
  margin-bottom: 25px;
  text-align: center; }

.contenedorEspecial1 p {
  text-align: center; }

.contenedorEspecial1 img {
  width: 45%;
  height: 290px;
  border-radius: 20px 20px;
  margin-right: 10px; }

.contenedorNosotros h1 {
  text-align: center;
  font-size: 2rem;
  padding: 20px;
  text-decoration: underline; }

.contenedorNosotros p {
  text-align: center;
  font-size: 1.5rem;
  padding: 20px;
  width: 50%;
  margin: 0 auto;
  background-color: #e9a1aaaf;
  margin-bottom: 20px; }

.contenedorNosotros img {
  width: 93%;
  height: 200px;
  object-fit: cover;
  opacity: 90%;
  margin: 0 20px 10px 67px; }

.tituloFormulario {
  text-align: center;
  margin-bottom: auto;
  margin-top: auto; }

.contenedorFormulario {
  text-align: center; }

.form {
  background-color: #e9a1aaaf;
  margin-left: 650px;
  width: 30%; }

.col-md-6 {
  margin-left: 60px;
  width: 450px; }

.col-12 {
  margin-left: 60px;
  width: 450px; }

.col-md-2 {
  margin-left: 60px;
  width: 450px; }

.ubiMaps {
  width: 100vh;
  height: auto;
  display: inline-block;
  margin: 0 30px 30px 40px; }

.maps {
  width: 100%;
  height: 50vh;
  object-fit: cover; }

@media (max-width: 1440px) {
  .colorHeader {
    width: 90%;
    margin: 0 96px 0 76px;
    margin-bottom: 40px; }
  .contenedorLogo1 {
    left: 480px; }
  /*tamaño y letra de la estetica del menú páginas*/
  .linkNav {
    font-size: 16px;
    margin: 0 20px 30px 15px; }
  .contenedorPostres {
    background-color: #e9a1aaaf;
    width: 90%;
    margin: auto; }
  .papaPastel {
    width: 29%;
    margin: 22px; }
  .papaPastel h2 {
    text-align: center; }
  .papaPastel p {
    text-align: center; }
  .titulo h1 {
    text-align: center;
    font-size: 30px; }
  .titulo h2 {
    text-align: center;
    font-size: 32px; }
  .frase {
    text-align: center;
    padding-top: 40px;
    font-size: 18px; }
  .armaTuPedido {
    height: 1000px;
    margin: 0 0 0 90px; }
    .armaTuPedido img {
      width: 30%;
      height: 44%;
      margin: 30px 100px 30px 130px; }
  .video {
    width: 100%; }
  .video2 {
    margin-left: 350px; }
  .colorFondoRedes {
    margin: 12px 54px 0 76px; }
  .logoFooter {
    padding-left: 87px;
    width: 25%;
    height: 26%; }
  .colorMensa {
    text-align: center;
    color: white;
    padding: 111px 0 0 26px; }
  .ubiHorarios {
    text-align: center;
    color: white;
    padding: 14px 0 0 126px;
    font-size: 20px; }
  .ubiRedes {
    display: flex;
    padding: 75px 160px 0 240px; }
  .ubiRedes a {
    color: white;
    font-size: 25px; } }

@media (max-widht: 1024px) {
  .colorHeader {
    width: 100%;
    margin: 0 50px 80px px; }
  .contenedorLogo1 {
    left: 10px; } }
