
.armaTuPedido{
    width: 90%;
    height: 1200px;
    margin: 0 0 0 92px;
    background-color: $color2;
    display: inline-block;
    gap: 10px;
    
    img{
        width: 35%;
        height: 46%;
        border-radius: 15%;
        margin: 12px 100px 10px 130px;
    }
    h2{
        text-align: center;
        text-decoration: underline;
    }
}

