.tituloFormulario{
    text-align: center;
    margin-bottom: auto;
    margin-top: auto;
}
.contenedorFormulario{
    text-align: center;
}
.form{
    background-color: $color2;
    margin-left: 650px;
    width: 30%;
}


.col-md-6{
    margin-left: 60px;
    width: 450px;
}

.col-12{
    margin-left: 60px;
    width: 450px;
}

.col-md-2{
    margin-left: 60px;
    width: 450px;
}
