.horariosMapContacto{
    background-color: $color2;
    width: 1000px;
    padding: auto;
    display: inline-block;
    text-align: center;
    font-size: 23px;
    text-transform: uppercase;
    line-height: 110%;
}