@media (max-widht:1024px){
    
    .colorHeader{
        width: 92%;
        margin: 0 0 0 41px;
    }

    .contenedorLogo1{
        top: 13px;
        left: 10px;
    }
    
    .whatsapp{
        bottom: 24px;
        right: 140px;
        font-size: 34px;
    }
    //Cards index 
    .contenedorPostres{
        width: 92%;
        margin: 10px 0 0 37px;
    }
    .papaPastel{
        width: 27%;
        margin: 25px;
    }
    .contenedorAmbiente{
        width: 95%;
    }
    .contenedorAmbiente img{
        width: 320px;
        height: 126%;
    }
    //Cards arma
    .armaTuPedido{
        width: 88%;
    }
    .armaTuPedido img{
        width: 37%;
        height: 43%;
        margin: 30px 23px 0 69px;
    }
    //video
    .video2{
        margin-left: 170px;
    }
    //mapa
    .mapa{
        width: 74%;
    }
    .contenedorTituloMapaInicio{
        margin: 29px 9px 12px 378px;
    }
    //footer
    .colorFondoRedes{
        margin: 12px 27px 0 3px;
    }
    .logoFooter{
        padding-left: 63px;
        width: 32%;
        height: 23%;
    }
    .colorMensa{
        padding: 94px 77px 0 14px;
    }
    .ubiHorarios{
        padding: 8px 31px 0 19px;
        font-size: 15px;
    }
    .ubiRedes{
        padding: 66px 60px 0 123px;
    }
} 